:root {
  --font-color: white;
  --background-color: #1b1742;
  --correct-green: #00ff00;
  --wrong-red: red;
  --game-button-bg: #00a2ff;
  --gamescreen-bg: #2a3194;
  --background-gradient: linear-gradient(-45deg, #0d85a0, #400b81, #8d078d, #087b8a);
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  margin: 0;
}

p, li, figcaption {
  text-wrap: pretty;
  max-width: 65ch;
}

.italic {
  font-style: italic;
}

abbr {
  border-bottom: none !important;
  text-decoration: none !important;
}

img {
  border-style: none;
}

body {
  color: var(--font-color);
  background-color: var(--background-color);
}

body {
    background: var(--background-gradient);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}